*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 500px){

    body{
        width: 100vw;
        height: 800vh;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    /*Encabezado*/
    header{
        width: 100%;
        height: 2%;
        background-color: transparent;
        top: 0;
        position: sticky;
    }

    .header-scroll{
        background-color: #F4F4F4;
        color: black;
        box-shadow: 0px 0px 0.2rem black;
    }

    nav{
        width: 100%;
        height: 100%;
        display: flex;
    }

    .Container-Logo{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Logo{
        width: 30%;
        height: 70%;
    }

    .Name-Shop{
        font-family: 'Pinyon Script', cursive;
        font-size: 200%;
        color: #F0A500;
        width: 60%;
        height: 20%;
    }

    ul{
        width: 70%;
        height: 100%;
        display: flex;
    }

    li{
        width: 8.33%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-link.dropdown-toggle{
        width: 100%;
        color: #F0A500;
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
        text-align: center;
        border: none;
        background-color: transparent;
    }

    .nav-link.dropdown-toggle:hover{
        color: #CF7500;
    }

    .item{
        width: 100%;
        color: #F0A500;
        font-family: 'Roboto', sans-serif;
        font-size: 100%;
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }

    .item:hover{
        color: #CF7500;
    }

    .Search{
        width: 100%;
        height: 50%;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Search img{
        width: 40%;
        height: 60%;
    }

    .item-p{
        color: #F0A500;
        width: 100%;
        height: 45%;
        font-size: 220%;
        text-align: center;
    }

    .item-p.money{
        font-size: 100%;
        height: 45%;
        margin-top: 40%;
    }

    .buy{
        background-color: #F0A500;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        width: 60%;
        height: 50%;
        overflow: auto;
    }

    .buy:hover{
        background-color: #CF7500;
    }

    .buy img{
        width: 70%;
        height: 70%;
    }

    .number{
        width: 22%;
        height: 22%;
        margin-top: -23%;
        margin-left: -20%;
        position: relative;
        border-radius: 100%;
        font-size: 90%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.125);
        background-color: white;
    }

    .menu{
        width: 40%;
        height: 40%;
        border: none;
        background-color: transparent;
    }

    .menu img{
        width: 100%;
        height: 100%;
    }

    /*Cuerpo*/
    article{
        width: 100%;
        height:96%;
        margin-top: -8%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .Carousel{
        width: 100%;
        height: 13.4%;
        top: 0;
    }

    .Carousel img{
        width: 100vw;
        height: 100vh;
    }

    .Carousel p{
        position: relative;
        color: #F0A500;
        font-size: 200%;
        margin-top: -7%;
        margin-left: 5%;
    }

    section{
        width: 80%;
        height: 5%;
    }

    .Container-Explorer{
        width: 80%;
        height: 5%;
        display: flex;
        overflow: auto;
    }

    .Container-Explorer .Explorer{
        width: 100%;
        height: 134%;
        display: flex;
        flex-direction: row;
    }

    .Explorer .Sub-Explorer{
        background-color: #F0A500;
        width: 30%;
        height: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .Sub-Explorer img{
        width: 100%;
        height: 100%;
    }

    .Sub-Explorer img:hover{
        transform: scale(1.2, 1.2);
    }

    .Sub-Explorer .P1{
        position: relative;
        font-family: 'STIX Two Math', serif;
        color: #F0A500;
        font-size: 250%;
        display: flex;
        margin-top: -90%;
        padding: 30% 3%;
        width: 80%;
        height: 80%;
    }

    .Sub-Explorer .P2{
        position: relative;
        color: #CF7500;
    }

    .Sub-Explorer .P3{
        position: relative;
        margin-top: 90%;
        color: black;
    }

    .Popular-Products{
        width: 80%;
        height: 20%;
    }

    .Oferts{
        width: 80%;
        height: 10%;
    }

    .Trends{
        width: 80%;
        height: 10%;
    }

    .Last-News{
        width: 80%;
        height: 10%;
    }

    .Contact{
        width: 80%;
        height: 10%;
    }

    .Networks{
        width: 100%;
        height: 5%;
    }

    /*Pie*/
    footer{
        width: 100%;
        height: 4%;
        background-color: #F4F4F4;
    }
}